@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'DotGothic16', sans-serif;
  --text-color: #222;
  --border-color: #222;
  --alternate-text-color: #898989;
  --bg-color: #7acbd1;
  color: var(--text-color);
}

img {
  width: 100%;
  display: block;
}

h1 {
    color: var(--text-color);
}

.container {
  max-width: 980px;
  margin: auto;
}
