@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    font-family: 'Varela Round', sans-serif;
    --main-text-color: rgb(47, 5, 5);
    --accent-color: aqua;
}

h1 {
    color: var(--main-text-color);
    font-family: 'Courier New', Courier, monospace;
}

img {
    display: block;
    width: 100%;
}


