.header {
  padding: 5px;
  background-color: var(--accent-color);
}

.header-banner__h1,
.header-nav__logo {
  font-size: 3.5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.header-nav__menu {
  display: flex;
  flex-direction: column;
}

.header-nav__menu-item {
  text-decoration: none;
  color: var(--text-color);
}

.header-nav__menu-item:hover {
  text-decoration: underline;
}

@media (min-width: 500px) {
  .header-nav {
    display: flex;
    align-items: center;
  }

  .header-nav__menu {
    flex-direction: row;
    flex: 1;
    justify-content: space-around;
  }
}

.header-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/baby-yoda.svg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header-banner__h1 {
    color: var(--accent-color);
}

