.main-products {
    padding: 5px;
}

.product-card {
    border: 1px solid var(--border-color);
    padding: 5px;
}

.product-card__image {
    width: 80%;
    margin: auto;
}

@media (min-width: 560px) {

    .main-products__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }
    
}

@media (min-width: 760px) {
    .main-products__list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 960px) {
    .main-products__list {
        grid-template-columns: repeat(4, 1fr);
    }
}