.product-card {
    border: 1px solid var(--accent-color);
    padding: 5px;
}

.product-card img {
    width: 50%;
    margin: auto;
}


@media (min-width: 500px) {
    .main-products__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }
}

@media (min-width: 660px) {
    .main-products__list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 900px) {
    .main-products__list {
        grid-template-columns: repeat(4, 1fr);
    }
}
