@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'DotGothic16', sans-serif;
    --text-color:  #222;
    --bg-color: #96c9d0;
    --border-color: #96c9d0;
    scroll-behavior: smooth;
}

img {
    display: block;
    width: 100%;
}

.container {
    max-width: 980px;
    margin: auto;
}